*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eee;
}

.div_root {
    height: 100%;
    width: 100%;
}

.button_class {
    background-color: white;
    border-color: #333333;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    cursor: pointer;
    border-color: #333333;
    border: solid;
    border-width: thin;
}

.button_class:hover {
    background-color: cadetblue;
}

.div_padding10_horizontal {
    display: flex;
    padding: 0px 10px;
}

.div_padding10 {
    display: flex;
    padding: 10px;
}

.div_padding10_vertical {
    display: flex;
    padding: 10px 0px;
}

.div_paddingTop80 {
    display: flex;
    padding-top: 80px;
}

.div_padding5_vertical {
    display: flex;
    padding: 5px 0px;
}

.div_align_item {
    display: flex;
    padding: 0px 15px;
    align-items: center;
}

.div_center {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.div_background_black {
    background-color: #333333;
    border-radius: 15px;
    margin-top: 20px;
    width: 400px;
    height: fit-content;
}

.div_background_black_degrade {
    display: flex;
    flex-direction: column;
    background-color: #444444;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    border-style: solid;
    height: fit-content;
}

.div_column {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input {
    border-radius: 5px;
    border: solid;
    height: 30px;
    border-width: thin;
    font-size: 14px;
    padding: 5px;
}

.label_form {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link:hover {
    color: cadetblue;
}

.link_active {
    color: cadetblue
}

.link_button {
    background-color: white;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.link_button:hover {
    background-color: cadetblue;
}

.title_asso {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragraphe_description {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.div_menu {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:#002f86;
    min-height: 60px;
}

.event_card {
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 15px;
    padding: 15px;
    min-width: 150px;
    min-height: 200px;
    background-color: #c9c9c9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div_flex_end {
    display: flex;
    justify-content: flex-end;
}

.taille_icone {
    width: 20px;
    height: 20px;
}

.div_align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
}

.clickable-image {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.div_profile {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
}
  
.div_menu_left {
    display: flex;
    flex-direction: column;
    background-color:#002f86;
    padding-top: 15%;
    min-width: 15%;
    min-height: 100%;
}

.div_inner_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile {
    max-width: 600px;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.user-profile h1 {
text-align: center;
color: #333;
}

.user-info {
margin-top: 20px;
}

.user-info p {
font-size: 16px;
color: #333;
}

.user-info p strong {
color: #333;
}

.div_ged {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border: 5px solid #818181;
    background-color: #ddd;
}

.div_inner_profile {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.div_profile_content {
    padding: 50px;
    width: 100%;
    height: 100%;
}

.div_ged_header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}

.div_ged_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%; 
    background-color: #eee;
}